<div ng-init="showEditOpts=false" ng-mousemove="" ng-dblclick="">
    <div ng-switch="showEditOpts">
        <div>
            <input ng-switch-when="true" type="text" ng-model="field.fieldValue">
            <div ng-show="!showEditOpts">
                <md-button class="md-icon-button" ng-click="showEditOpts=!showEditOpts">
                    <md-icon class="material-icons">edit</md-icon>
                </md-button>
            </div>
            <div ng-show="showEditOpts">
                <md-button class="md-icon-button" ng-click="showEditOpts=!showEditOpts">
                    <md-icon class="material-icons">done</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="showEditOpts=!showEditOpts">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </div>
        <span ng-switch-default>{{ field.fieldValue }}</span>
    </div>

</div>