<md-dialog aria-label="Contact info">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Contact</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="contactCtrl.cancel()">
          <md-icon aria-label="Close">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="contactForm">
          <div layout-gt-xs="row">
        <md-input-container class="md-block">
            <label>Contact Name</label>
            <input required name="contactName" ng-model="contactCtrl.contactModel.name">
            <div ng-messages="contactForm.name.$error">
               <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Contact Description</label>
            <input name="contactDescription" ng-model="contactCtrl.contactModel.description">
        </md-input-container>
        </div>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="contactCtrl.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="contactCtrl.test('test')">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>