<style>
div.overlay {
  background-color:rgba(210, 182, 210, 0.4);
  color: rgba(0,0,0,0.7);
  font-weight:bold;
  border: 2px solid rgba(210, 182, 210, 0.4);
  border-radius: 10px;
}
</style>

<md-content class="md-padding">
    <div class="md-toolbar-tools overlay" layout-align="end center">	  
	  <h2 class="md-flex">CONTACTS</h2>
	  <md-button class="md-fab" ng-click="contacts.createContact($event)" aria-label="Add new contact">
			<md-icon aria-label="new">add</md-icon>
		</md-button>
	  </div>
    <div class="list-categories">
      
    </div>
</md-content>